# lowcode build 的 template 会导致使用一些未声明的依赖
# https://github.com/alibaba/lowcode-tools/blob/main/packages/build-plugin-lowcode/src/templates/index.jsx
public-hoist-pattern[]=lodash
public-hoist-pattern[]=@alilc/*
# public-hoist-pattern[]=@babel/runtime/*